  <!DOCTYPE html>
  <!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
  <head>

     <!--- basic page needs
     ================================================== -->
     <meta charset="utf-8">
  	<title>Kreo</title>
  	<meta name="description" content="">  
  	<meta name="author" content="">

     <!-- mobile specific metas
     ================================================== -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   	<!-- CSS
     ================================================== -->
     <link rel="stylesheet" href="css/base.css">
     <link rel="stylesheet" href="css/vendor.min.css">
     <link rel="stylesheet" href="css/main.css">     

     <!-- script
     ================================================== -->
  	<script src="js/modernizr.js"></script>

     <!-- favicons
  	================================================== -->
  	<link rel="shortcut icon" href="favicon.png" >

  </head>

  <body>

  	<!-- header
     ================================================== -->
     <header id="main-header" class="opaque">

     	<div class="row ">

  	      <div class="logo">

  	         <a href="index.html" >Track<br>Ripple</a>
  	      </div>

  	      <nav id="nav-wrap">         
  	         
  	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
  	         	<span class="menu-icon">Menu</span>
  	         </a>
           	<a class="mobile-btn" href="#" title="Hide navigation">
           		<span class="menu-icon">Menu</span>
           	</a>            

  	         <ul id="nav" class="nav">
  	            <li><a class="smoothscroll" href="#hero">Home</a></li>
  		         <li class="current"><a class="smoothscroll" href="#services">How It Works</a></li>
  	            <li><a class="smoothscroll" href="#about">About</a></li>
  	            <li><a class="smoothscroll" href="#contact">Contact</a></li>
  	         </ul> <!-- end #nav -->

  	      </nav> <!-- end #nav-wrap -->

  	      <!--ul class="header-social">
  	        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  	        	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  	        	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  	      </ul-->      

  	   </div>

     </header> <!-- end header -->


     <!-- homepage hero
     ================================================== -->
     <section id="hero">	
     	  
  		<div class="row hero-content">

  			<div class="eight columns hero-container">

  			   <!-- hero-slider start-->
  			   <div id="hero-slider" class="flexslider">

  				   <ul class="slides">

  					   <!-- slide -->
  					   <li>
  						   <div class="flex-caption">
            <h1 class=""><span>Track Ripple </span> bridges the gap between musicians and music bloggers.  
            </h1> 

            <h3 class=""> Our personalized and intelligent service helps to ensure that your music is sent to the right bloggers.</h3>           
          </div>        		
  					   </li>

  					             

  				   </ul>

  			   </div> <!-- end hero-slider -->				   

  	      </div> <!-- end twelve columns-->
  <div class="four columns text-center" style="">
   <form class="form-horizontal col-md-12" action="{{ url_for('submit_data') }}" method=post >
            <fieldset>

              <!-- Form Name -->


            <div class="signup-header wow fadeInUp">
              
              <form class="form-header" action="" role="form" method="POST" id="#">
              <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
              <input type="hidden" name="id" value="bfdba52708">
                <div class="form-group" >
                  <input style="margin-bottom:20px;margin-top:40px;" class="form-control input-lg"  name="MERGE1" id="name" type="text" placeholder="Your name" required>
                </div>
                <div class="form-group">
                  <input style="margin-bottom:20px;" class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email address" required>
                </div>
                <div class="form-group">
                  <input style="margin-bottom:20px;" class="form-control input-lg" name="MERGE2" id="link" type="text" placeholder="Song link" required>
                </div>
                <div class="form-group last">
                  <input type="submit" class="btn btn-warning btn-block btn-lg" value="SUBMIT">
                </div>
                
              </form>
            </div>      
              <!-- Text input-->
              
  		</div> <!-- end row -->	

  		<!-- <div id="more">
  		      <a  href="#services">More About Us</a>
  		</div> 	 -->

     </section> <!-- end homepage hero -->


   

     <!-- Services Section
     ================================================== -->
     <section id="services">

     	<div class="row section-head" >

        	<div class="twelve columns">

        		<h1>How It Works<span>.</span></h1>

  	         <hr />      	         

  	      </div>

        </div> <!-- end section-head -->

        <div class="row mobile-no-padding" style="display:flex;">  
        <div class="six columns">    	

  	      <div class="service-list bgrid-whole s-bgrid-half tab-bgrid-whole group">

  	      	<!-- end bgrid -->

  				 <!-- end bgrid -->
  <div class="bgrid" style="margin-top:20px;">
  			   
  <h1 class="">Guaranteed distribution to expertly matched bloggers. Easy. Quick. Effective.</h1>

          <h3 >Track Ripple determines which music bloggers will love your sound and sends it to their blogs, all at once.  </h3>       
  				</div>
          <hr style="width:400px;margin-left:20px" />
          <div class="bgrid" style="margin-top:20px;">
           
  <h1 class="">No sign-up. No fee. <br>Just submit the link to your music and we’ll do the rest.</h1>

      <h3 class="">Track Ripple is a service we built for ourselves. But we figured we’d share the technology. It’s free for now, but not forever.</h3>        
          </div>


  	      </div> <!-- end service-list -->	      
  </div>
  <div class="six columns"> 
  <div class="video">
  <iframe width="450px" height="300px" style="margin-top:100px;" 
src="https://www.youtube.com/embed/lN2_vYeORcg?autoplay=0&loop=1">
</iframe>
  </div>
        </div> <!-- end row -->      

     </section> <!-- end services -->


     <!-- About Section
     ================================================== -->
     <section id="about">

     	
   <!-- end row -->


        <div class="row team section-head">

     		<div class="twelve columns">

  	         <h1>Meet Our Team<span>.</span></h1>

  	         <hr />	         

  	      </div>

        </div> <!-- end section-head -->

        <div class="row">

           <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

              <div class="bgrid member">

  					<div class="member-pic">
  						<img src="images/team/member01-k.jpg" alt=""/>
                   	<div class="mask"></div>       	
                 </div>
                 <div class="member-name">
                    <h3>Naruto Uzumaki</h3>
                    <span>Creative Director</span>
                 </div>

                 <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                 nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                 <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                 </ul>

              </div> <!-- end member -->

              <div class="bgrid member">
  								
  					<div class="member-pic">
                    <img src="images/team/member03-k.jpg" alt=""/>
                 	<div class="mask"></div>  
                 </div>
                 <div class="member-name">
                    <h3>Sasuke Uchiha</h3>
                    <span>Lead Designer</span>
                 </div>

                 <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                 nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                 <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                 </ul>

              </div> <!-- end member -->

              <div class="bgrid member">
  								
  					<div class="member-pic">
  						<img src="images/team/member04-k.jpg" alt=""/>
                   	<div class="mask"></div>                          	
                 </div>
                 <div class="member-name">
                    <h3>Shikamaru Nara</h3>
                    <span>Designer</span>
                 </div>

                 <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                 nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                 <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                 </ul>

       			</div> <!-- end member -->

              <div class="bgrid member">
  								
  					<div class="member-pic">
                   	<img src="images/team/member05-k.jpg" alt=""/>
                   	<div class="mask"></div>  
                 </div>
                 <div class="member-name">
                    <h3>Sakura Haruno</h3>
                    <span>Designer</span>
                 </div>

                 <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                 nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

                 <ul class="member-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                 </ul>

              </div> <!-- end member -->

           </div> <!-- end team-wrapper -->

        </div> <!-- end row -->

         <!-- end section-ads -->		         	         

  	   </div> <!-- end call-to-action -->	           

     </section> <!-- end about -->  


     <!-- Testimonials Section
     ================================================== -->
     


     <!-- contact
     ================================================== -->
     <section id="contact">

     	<div class="row section-head">

     		<div class="twelve columns">

  	         <h1>Get In Touch With Us<span>.</span></h1>

  	         <hr />	        

  	      </div>

        </div> <!-- end section-head -->

        <div class="row">
        	
        	<div id="contact-form" class="six columns tab-whole left">

              <!-- form -->
              <form name="contactForm" id="contactForm" method="post" action=""  >
        			<fieldset>

                    <div class="group">
   						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
                    </div>
                    <div>
  	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
  	               </div>
                    <div>
  	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject"  value="" />
  	               </div>                       
                    <div>
  	                 	<textarea name="contactMessage"  id="contactMessage" placeholder="message" rows="5" cols="50" required ></textarea>
  	               </div>                      
                    <div>
                       <button class="submitform">Submit</button>
                       <div id="submit-loader">
                          <div class="text-loader">Sending...</div>                             
         				      <div class="s-loader">
  								  	<div class="bounce1"></div>
  								  	<div class="bounce2"></div>
  								  	<div class="bounce3"></div>
  								</div>
  							</div>
                    </div>

        			</fieldset>
        		</form> <!-- Form End -->

              <!-- contact-warning -->
              <div id="message-warning"></div>
              <!-- contact-success -->
        		<div id="message-success">
                 <i class="icon-ok"></i>Your message was sent, thank you!<br />
        		</div>

           </div>

           <div class="six columns tab-whole right">

  	         <h3 class="address">Come Visit</h3>

  	         <p>
              1600 Amphitheatre Parkway<br>
              Mountain View, CA<br>
              94043 US
              </p>

              <h3>Contact Numbers:</h3>
  			   <p>Phone: (000) 555 1212<br>
  			   	Mobile: (000) 555 0100<br>
  			     	Fax: (000) 555 0101
  			   </p>
                 	
           </div>     	

        </div> <!-- end row -->     

     </section>  <!-- end contact -->


     <!-- Footer
     ================================================== -->
     <footer>

        <div class="row">  

        	<div class="twelve columns content group">
        		
  				<ul class="social-links">
                 <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              </ul>

              <hr />

              

        	</div>           

           <ul class="copyright">
           	<li>&copy; Copyright 2016 Track Ripple.</li> 
           	
           </ul>

           <div id="go-top">
              <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
           </div>

        </div> <!-- end row -->

     </footer> <!-- end footer -->

     <div id="preloader"> 
      	<div id="loader"></div>
     </div> 

     <!-- Java Script
     ================================================== --> 
     <script src="js/jquery-1.11.3.min.js"></script>
     <script src="js/jquery-migrate-1.2.1.min.js"></script>
     <script src="js/jquery.flexslider-min.js"></script>
     <script src="js/jquery.waypoints.min.js"></script>
     <script src="js/jquery.validate.min.js"></script>
     <script src="js/jquery.fittext.js"></script>
     <script src="js/jquery.placeholder.min.js"></script>
     <script src="js/jquery.magnific-popup.min.js"></script>  
     <script src="js/main.js"></script>

  </body>

  </html>