  <!DOCTYPE html>
  <!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
  <head>

     <!--- basic page needs
     ================================================== -->
     <meta charset="utf-8">
  	<title>TrackRipple</title>
  	<meta name="description" content="">  
  	<meta name="author" content="">

     <!-- mobile specific metas
     ================================================== -->
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   	<!-- CSS
     ================================================== -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">    

     <!-- script
     ================================================== -->
  	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

     <!-- favicons
  	================================================== -->
  	<link rel="shortcut icon" href="favicon.png" >

  </head>

  <body>

  	<!-- header
     ================================================== -->
     <header id="main-header" class="opaque">

     	<div class="row ">

  	      <div class="logo">

  	         <a href="index.html" >Track<br>Ripple</a>
  	      </div>

  	      <nav id="nav-wrap">         
  	         
  	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
  	         	<span class="menu-icon">Menu</span>
  	         </a>
           	<a class="mobile-btn" href="#" title="Hide navigation">
           		<span class="menu-icon">Menu</span>
           	</a>            

  	         <ul id="nav" class="nav">
  	            <li><a class="smoothscroll" href="#hero">Home</a></li>
  		         <li class="current"><a class="smoothscroll" href="#services">How It Works</a></li>
  	            <li><a class="smoothscroll" href="#about">About</a></li>
  	            <li><a class="smoothscroll" href="#contact">Contact</a></li>
  	         </ul> <!-- end #nav -->

  	      </nav> <!-- end #nav-wrap -->

  	      <!--ul class="header-social">
  	        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  	        	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  	        	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  	      </ul-->      

  	   </div>

     </header> <!-- end header -->


     <!-- homepage hero
     ================================================== -->
     <section id="hero">	
     	  
  		<div class="row hero-content">

  			<div class="eight columns hero-container">

  			   <!-- hero-slider start-->
  			   <div id="hero-slider" class="flexslider">

  				   <ul class="slides">

  					   <!-- slide -->
  					   <li>
  						   <div class="flex-caption">
            <h1 class=""><span>Track Ripple </span> bridges the gap between musicians and music bloggers.  
            </h1> 

            <h3 class=""> Our personalized and intelligent service helps to ensure that your music is sent to the right bloggers.</h3>           
          </div>        		
  					   </li>

  					             

  				   </ul>

  			   </div> <!-- end hero-slider -->				   

  	      </div> <!-- end twelve columns-->
  <div class="four columns text-center" style="">
   <form class="form-horizontal col-md-12" action="{{ url_for('index') }}" method=post >
            <fieldset>

              <!-- Form Name -->


            <div class="signup-header wow fadeInUp">
              
              <form class="form-header" action="" role="form" method="POST" id="#">
              <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
              <input type="hidden" name="id" value="bfdba52708">
                <div class="form-group" >
                  <input style="margin-bottom:20px;margin-top:40px;" class="form-control input-lg"  name="song" id="name" type="text" placeholder="Your name" required>
                </div>
                 <div class="form-group">
                  <input style="margin-bottom:20px;" class="form-control input-lg" name="genre" id="link" type="text" placeholder="Song link" required>
                </div>
                <div class="form-group">
                  <input style="margin-bottom:20px;" class="form-control input-lg" name="email" id="email" type="email" placeholder="Email address" required>
                </div>
               
                <div class="form-group last">
                  <input type="submit" class="btn btn-warning btn-block btn-lg" value="SUBMIT">
                </div>
                
              </form>
            </div>      
              <!-- Text input-->
              
  		</div> <!-- end row -->	

  		<!-- <div id="more">
  		      <a  href="#services">More About Us</a>
  		</div> 	 -->

     </section> <!-- end homepage hero -->


   

     <!-- Services Section
     ================================================== -->
     <section id="services">

     	<div class="row section-head" >

        	<div class="twelve columns">

        		<h1>How It Works<span>.</span></h1>

  	         <hr />      	         

  	      </div>

        </div> <!-- end section-head -->

        <div class="row mobile-no-padding" style="display:flex;">  
        <div class="six columns">    	

  	      <div class="service-list bgrid-whole s-bgrid-half tab-bgrid-whole group">

  	      	<!-- end bgrid -->

  				 <!-- end bgrid -->
  <div class="bgrid" style="margin-top:20px;">
  			   
  <h1 class="">Guaranteed distribution to expertly matched bloggers. Easy. Quick. Effective.</h1>

          <h3 >Track Ripple determines which music bloggers will love your sound and sends it to their blogs, all at once.  </h3>       
  				</div>
          <hr style="width:400px;margin-left:20px" />
          <div class="bgrid" style="margin-top:20px;">
           
  <h1 class="">No sign-up. No fee. <br>Just submit the link to your music and we’ll do the rest.</h1>

      <h3 class="">Track Ripple is a service we built for ourselves. But we figured we’d share the technology. It’s free for now, but not forever.</h3>        
          </div>


  	      </div> <!-- end service-list -->	      
  </div>
  <div class="six columns"> 
  <div class="video">
 <iframe width="480" height="311" src="http://www.powtoon.com/embed/fzmEg2J48Sj/" frameborder="0"></iframe>
  </div>
        </div> <!-- end row -->      

     </section> <!-- end services -->


    


     <!-- Testimonials Section
     ================================================== -->
     


     <!-- contact
     ================================================== -->
     <section id="contact">

     	<div class="row section-head">

     		<div class="twelve columns">

  	         <h1>Get In Touch With Us<span>.</span></h1>

  	         <hr />	        

  	      </div>

        </div> <!-- end section-head -->

        <div class="row">
        	
        	<div id="contact-form" class="six columns" style="text-align:center">

             <h3 class="address">Come Visit</h3>

             <p>
              1600 Amphitheatre Parkway<br>
              Mountain View, CA<br>
              94043 US
              </p>

          

           </div>

           <div class="six columns " style="text-align :center">

  	         

              <h3>Contact Numbers:</h3>
  			   <p>Phone: (000) 555 1212<br>
  			   	Mobile: (000) 555 0100<br>
  			     	Fax: (000) 555 0101
  			   </p>
                 	
           </div>     	

        </div> <!-- end row -->     

     </section>  <!-- end contact -->


     <!-- Footer
     ================================================== -->
     <footer>

        <div class="row">  

        	<div class="twelve columns content group">
        		
  				<ul class="social-links">
                 <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              </ul>

              <hr />

              

        	</div>           

           <ul class="copyright">
           	<li>&copy; Copyright 2016 Track Ripple.</li> 
           	
           </ul>

           <div id="go-top">
              <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
           </div>

        </div> <!-- end row -->

     </footer> <!-- end footer -->

    

     <!-- Java Script
     ================================================== --> 
     <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>  
     <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>

  </html>